body {
  background: #f0f0f0;
}

.port {
    display: block;
    position: relative;
    text-decoration: none;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    max-width: 1000px;
    min-width: 500px;
  }

  .log {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 25%);
  }

  .background {
    background-color:rgb(203, 203, 203);
    padding: 100px;
    border-radius: 45px;;
    box-shadow: 3px 3px 20px 2px #a4a4a4;
    border: none;
  }

  .login-name {
    font-family: Arial, bold;
    margin-left: -10px;
    padding-top: 10px;
    text-align: right;
    text-decoration: none;
    width: 6px;
    font-size: 44px;
    padding-bottom: 10px;
    color: #ffffff;
  }

  .login-enter {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 155px;
    text-decoration: none;
    width: 6px;
    font-size: 44px;
    padding-bottom: 10px;
    color: #ffffff;
  }

  .login-enter:hover {
    color: #983636;
  }

  input[type="text"], input[type="password"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    background-color: rgb(225, 225, 225);
  }

  input[type="submit"] {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
    padding: 100px 50px;
  }

  .buttons {
    position: absolute;
    background-color: #000;
    border-radius: 10px;
    border: none;
    width: 40%;
    height: 50px;
  }

  .social {
    position: absolute;
    padding-top: 50px;
    left: 50%;
    transform: translate(-20%, 3%);
    display: inline;
    width: 100%;
  }

  .social_button_1 {
    width: 20%;
    height: 50px;
    border-radius: 10px;
    border: none;
  }

  .social_button_2 {
    width: 20%;
    height: 50px;
    border-radius: 10px;
    border: none;
  }
